@import "../variables";

.comment-component {
  margin-bottom: 10px;

  .details {
    color: $subtitle-color;
  }
  .content {

  }

  .reply-btn {
    border: none;
    background-color: transparent;
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
  }

  .replies,
  .comment-from-component {
    padding-left: 25px;
  }

  .replies {
    margin-top: 10px;
  }
}