@import "../variables";

.layout-header {
  background-color: #fff;

  > div {
    max-width: $max-width;
    margin-right: auto;
    margin-left: auto;
  }
  .logo {
    float: left;
    margin-right: 25px;
  }
}